{% load static %}
<div class="main-header">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <div class="main-header-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="index.html" class="logo">
          <img
            src="{% static "img/kaiadmin/logo_light.svg" %}"
            alt="navbar brand"
            class="navbar-brand"
            height="20"
          />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <!-- Navbar Header -->
    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
      <div class="container-fluid">
        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
          <li
            class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none"
          >
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-expanded="false"
              aria-haspopup="true"
            >
              <i class="fa fa-search"></i>
            </a>
            <ul class="dropdown-menu dropdown-search animated fadeIn">
              <form class="navbar-left navbar-form nav-search">
                <div class="input-group">
                  <input
                    type="text"
                    placeholder="Search ..."
                    class="form-control"
                  />
                </div>
              </form>
            </ul>
          </li>
          <li class="nav-item topbar-user dropdown hidden-caret">
            <span class="profile-username">
              <a href="#" class="btn btn-primary" onclick="confirmLogout()">Logout</a>
          </span>
        </li>
        </ul>
      </div>
    </nav>
    <!-- End Navbar -->
    <script>
      function confirmLogout() {
          Swal.fire({
              title: "Apakah Anda yakin ingin logout?",
              text: "Anda harus login kembali untuk mengakses akun!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#d33",
              cancelButtonColor: "#3085d6",
              confirmButtonText: "Ya, Logout",
              cancelButtonText: "Batal"
          }).then((result) => {
              if (result.isConfirmed) {
                  window.location.href = "/auth/logout";  // Redirect ke halaman logout
              }
          });
      }
  </script>
  </div>